<html>
    <head>
        <title>Amrita's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Amrita's Blog</a></h1>
        </div>

        <div>
            <p>published: 24.02.2018, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>Everything you want to know about Digital Media Communication.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>From local calenders to social media to event websites.</p>
        </div>
    </body>
</html>